.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.backButton {
  flex: end;
  max-width: 8rem;
}

.calculateButton {
  flex: start;
  max-width: 14rem;
}
