.radioLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.radioInput {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--color-white);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.radioInput::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-accent);
  transform: scale(0);
  transition: transform 0.15s ease-in-out;
}

.radioInput:checked::before {
  transform: scale(1);
}

.radioText {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
}
